body { background: #f045e1; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 19px; display: flex; }
.block-product-0 { color: #96749e; font-size: 16px; margin-bottom: 5px; }
.block-router-1 { color: #484389; font-size: 20px; margin-bottom: 5px; }
.block-user-2 { color: #8571f4; font-size: 12px; margin-bottom: 5px; }
.block-token-3 { color: #d3791e; font-size: 19px; margin-bottom: 5px; }
.block-order-4 { color: #c14ffb; font-size: 15px; margin-bottom: 5px; }
.block-token-5 { color: #f0c400; font-size: 16px; margin-bottom: 5px; }
.block-cache-6 { color: #fee7a5; font-size: 21px; margin-bottom: 5px; }
.block-helper-7 { color: #111f7a; font-size: 14px; margin-bottom: 5px; }
.block-search-8 { color: #6bafd7; font-size: 20px; margin-bottom: 5px; }
.block-helper-9 { color: #577dae; font-size: 17px; margin-bottom: 5px; }